.WorkSection {
    padding-bottom: 8%;
}

.HeadText {
    font-family: 'GlacialIndifferenceRegular';
    color      : #625D5D;
    font-size  : 5vw;
}

.HeadLine {
    width     : 60%;
    margin-top: -7%;
    float     : right;
    border-top: 4px solid #D9D9D9;
    position  : relative;
}

.card_title {
    font-family: 'GlacialIndifferenceRegular';
    font-size  : 2vw;
    font-weight: bold;
    padding    : 1% 0 3% 0;
}

.card {
    background-repeat: no-repeat;
    box-sizing       : border-box;
    overflow         : hidden;
    width            : 23%;
    height           : 300px;
    display          : flex row;
    flex-wrap        : nowrap;
    display          : inline-block;
    margin-left      : 10px;
    padding-top      : 2%;
}

.img_work {
    width         : 100%;
    height        : 100%;
    vertical-align: baseline;
    transition    : 0.3s;
    position      : absolute;
    object-fit    : cover;
    display       : flex row;
    flex-wrap     : nowrap;
}

.work_card {
    display   : inline-block;
    box-sizing: border-box;
    overflow  : hidden;
    width     : 100%;
    height    : 80%;
    position  : relative;
}

.img_work:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 900px) {

    .card {
        width     : 40vw;
        height    : 25vh;
        margin-top: 3%;
    }

    .card_title {
        font-size : 3vw;
        margin-top: -3%;
    }

    .HeadText {
        font-size: 8vw;
    }

    .HeadLine {
        width     : 48%;
        margin-top: -3vh;
        float     : right;
        border-top: 4px solid #D9D9D9;
    }
}