
.p{
  margin: 100px 0 20px 0;
background-image: url(https://drive.google.com/uc?id=1sATPrWrtpApDsvAB_eUP6WGuA0PJmYgO);
  padding: 33px 50px 25px 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: lighter;
  text-align: center;
}

.div{
  margin: 20px 30px 40px 50px;
  padding-right: 80px;
}
