body {
  overflow-x: hidden;
}

.containerAboutUs {
  padding: 25px 0px;
  max-width: 100%;
}

.mainAboutUs {}

/* Default Css Shataxi for Row 1 and Row 2 */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Noto+Sans+HK&display=swap");

.rowOneColOne>img {
  width: 600px;
  height: 350px;
  position: relative;
  left: 5rem;
}

/* styling for rowOneColTwo div */
.rowOneColTwo {
  background-image: url("./AboutUsImages/backRed.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.rowOneColTwo>div {
  margin-left: 18rem;
  padding-top: 2rem;
}

.rowOneColTwo h1 {
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@media screen and (min-width: 999px) {
  @keyframes change {
    0% {
      letter-spacing: 0px;
    }

    25% {
      letter-spacing: 2px;
    }

    50% {
      letter-spacing: 4px;
    }

    75% {
      letter-spacing: 2px;
    }

    100% {
      letter-spacing: 0px;
    }
  }
}

.rowTwoDiv {
  background-image: url("./AboutUsImages/backYellow.png");
  background-attachment: inherit;
  background-size: cover;
  background-position: left;
  height: 6rem;
  width: 100%;
}

.rowTwoDiv>h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: bolder;
  padding-top: 10px;
  padding-left: 80px;
  font-size: 45px;
}

.rowOneColTwo p {
  color: grey;
  font-weight: bolder;
  font-style: oblique;
  font-family: "Source Sans Pro";
  word-spacing: 3px;
}

.rowTwoRowPara {
  font-family: "Noto Sans HK", "Source Sans Pro";
  color: black;
  word-spacing: 5px;
  font-size: 21px;
}

.rowTwoRowPara>p {
  padding-left: 80px;
  padding-right: 80px;
  text-align: justify;
}

/* Default Css Shadab  for Row 3 and Row 4 */
.section3 {
  position: relative;
  margin-top: 50px;
  width: 100%;
}

.content {
  text-align: center;
  background-image: url("./AboutUsImages/backGreen.png");
  z-index: 2;
}

.content p {
  text-align: justify;
  margin: 40px 100px 40px 80px;
  font-family: "Noto Sans HK", "Source Sans Pro";
  word-spacing: 5px;
  font-size: 21px;
  /* font-weight: bolder; */
}

.imageBox {
  align-items: center;
  text-align: center;
}

.imageBox img {
  right: 0;
  z-index: 1;
  transition: all 500ms ease-in-out;
}

.section4 {
  position: relative;
  width: 100%;
}

.whyStarted {
  margin-top: 50px;
  height: 100px;
  background-image: url("./AboutUsImages/backBlue.png");
}

.whyStarted h1 {
  margin-left: 80px;
  padding-top: 20px;
  padding-left: 0px;
  font-family: "Cormorant Garamond", serif;
  font-weight: bolder;
  line-height: 90px;
  font-size: 45px;
}

.reasonForStart {
  text-align: center;
  margin: 20px 0 100px 0;
}

.reasonForStart p {
  text-align: justify;
  margin: 0 80px 0 80px;
  font-family: "Noto Sans HK", "Source Sans Pro";
  word-spacing: 5px;
  font-size: 21px;
  /* font-weight: bolder; */
}

/* Default Css Anjali for Row 5 and Row 6 */
.sec5bgimage {
  z-index: -1;
  margin-left: 200px;
  margin-top: 5px;
  width: 70%;
  transition: 300ms ease-in-out;
  justify-content: center;
  align-items: center;
}

.bgimage {
  margin-left: 10%;
  margin-top: 50px;
  width: 80%;
  transition: 300ms ease-in-out;
}

.sec5bgimage:hover {
  z-index: 5;
  transform: scale(1.1);
}

.section5 {
  font-size: 25px;
  margin-top: 300px;
  margin-bottom: 50px;
  background-size: 100% 90%;
  height: auto;
  background-image: url('./AboutUsImages/backRed.png');
  background-attachment: inherit;
  position: absolute;
}

.para1 {
  padding: 50px 80px 50px 80px;
  margin-bottom: 0px;
  text-align: justify;
  font-size: 21px;
  font-family: "Noto Sans HK", "Source Sans Pro";
  word-spacing: 5px;
  /* font-weight: bolder; */
}

.boxbg1 {
  height: 400px;
  margin-left: 40px;
  margin-top: 400px;
  transition: 300ms ease-in-out;
}

.boxbg1:hover {
  transform: scale(1.1);
}

.boxbg2 {
  height: 400px;
  margin-left: 40px;
  margin-top: 300px;
  transition: 300ms ease-in-out;
}

.boxbg2:hover {
  transform: scale(1.1);
}

.boxbg3 {
  height: 400px;
  margin-left: 40px;
  margin-top: 300px;
  transition: 300ms ease-in-out;
}

.boxbg3:hover {
  transform: scale(1.1);
}

.sbox {
  height: 48px;
  width: 180px;
  margin-left: 150px;
  background-image: url('./AboutUsImages/backRed.png');
  background-size: 50% 90%;
  justify-content: center;
  text-align: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(0%, -30%);
  font-size: 23px;
}

/* Default Css Shadab  for Row 7 */
/* *************Section 7a *******************/

.sectionSeven {
  padding: 25px 0px;
}

.section7Col {
  max-width: 100%;
  width: 100%;
  height: 100%;
  padding: 12px 12px;
}

.sevenImage {
  width: 100%;
  height: 300px;
}

.contentWrap {
  align-content: center;
  justify-content: center;
  width: auto;
  height: auto;
  text-align: center;
  padding: 10px 0px;
}

.contentWrap>h3 {
  font-size: 30px;
  font-weight: 350;
  text-transform: uppercase;
}

.contentWrap>h4 {
  font-size: 25px;
  font-weight: 300;
}

.contentWrap>p {
  font-size: 23px;
  font-weight: 300;
  text-align: justify;
}

.wrapSeven1 {
  background-image: url("./AboutUsImages/backRed.png");
  background-attachment: fixed;
}

.wrapSeven2 {
  background-image: url("./AboutUsImages/backYellow.png");
  background-attachment: fixed;
}

.wrapSeven3 {
  background-image: url("./AboutUsImages/backGreen.png");
  background-attachment: fixed;
}

.wrapSeven4 {
  background-image: url("./AboutUsImages/backBlue.png");
  background-attachment: fixed;
}

/*************Section7b**************/
.sectionSevenb {
  max-width: 100%;
  padding: 60px 60px;
  margin: 0px 0px;
}

.sectionSevenRow1 {
  background-image: url("./AboutUsImages/backRed.png");
  background-attachment: inherit;
}

.sectionSevenRow2 {
  background-image: url("./AboutUsImages/backYellow.png");
  background-attachment: inherit;
}

.sectionSevenRow3 {
  background-image: url("./AboutUsImages/backGreen.png");
  background-attachment: inherit;
}

.sectionSevenRow4 {
  background-image: url("./AboutUsImages/backBlue.png");
  background-attachment: inherit;
}

.innerRow {
  max-width: 100%;
  background-color: white;
  padding: 10px 10px;
  margin: 0px 0px;
}

.row1Col2,
.row3Col2,
.row2Col1,
.row4Col1 {
  margin: 20px 20px;
}

.row1Col1,
.row3Col1,
.row2Col2,
.row4Col2 {
  margin: 20px 20px;
  align-self: center;
}

.image7 {
  width: 400px;
  height: 400px;
}

.cWrap {
  width: fit-content;
  height: fit-content;
}

.cWrap>h2 {
  font-size: 30px;
  font-weight: 450;
  text-transform: uppercase;
}

.cWrap>h4 {
  font-size: 25px;
  font-weight: 300;
}

.cWrap>p {
  font-size: 20px;
  font-weight: 250;
  word-spacing: 5px;
  text-align: justify;
  padding-top: 10px;
  margin-bottom: 0px;
}

.wrap1 {
  padding: 10px 10px;
  background-image: url("./AboutUsImages/backRed.png");
  background-attachment: inherit;
  /* width: 40%; */
  text-align: start;
}

.wrap2 {
  padding: 10px 10px;
  background-image: url("./AboutUsImages/backYellow.png");
  background-attachment: inherit;
  /* width: 42%; */
  text-align: start;
}

.wrap3 {
  padding: 10px 10px;
  background-image: url("./AboutUsImages/backGreen.png");
  background-attachment: inherit;
  /* width: 40%; */
  text-align: start;
}

.wrap4 {
  padding: 10px 10px;
  background-image: url("./AboutUsImages/backBlue.png");
  background-attachment: inherit;
  /* width: 43%; */
  text-align: start;
}

.sectionSevenc {
  display: none;
}

/* Default Css Anjali for Row 8 */
.collabs {
  margin-top: 20px;
  margin-bottom: 50px;
  background-image: url('./AboutUsImages/backGreen.png');
  background-attachment: inherit;
  padding: 30px 180px 30px 180px;
}

.collabs h1 {
  font-size: 48px;
  font-family: "Cormorant Garamond", serif;
  font-weight: bolder;
}

.collabs p {
  font-size: 20px;
  font-family: "Noto Sans HK", "Source Sans Pro";
  word-spacing: 5px;
  text-align: justify;
}

.collabbutton {
  font-family: "Noto Sans HK", "Source Sans Pro";
  word-spacing: 5px;
  margin-top: 10px;
  padding: 13px 15px;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #ffffa8;
  border: none;
  border-radius: 25px;
  color: black;
}

.collabbutton:hover {
  background-color: #ffff8c;
  text-decoration: underline;
  color: black;
}

/* Default Css Shataxi for Row 9 */
.rowNineCarouselWrapper {
  background-image: url("./AboutUsImages/backBlue.png");
}

.rowNineCarouselRoot>div {
  display: flex;
  justify-content: center;
}

.rowNineCarouselDiv img {
  padding: 25px 80px;
}

/* ****************************** Media Queries **************************** */
@media screen and (min-width: 1590px) {

  /* Changed Css Shataxi */
  .rowNineCarouselDiv img {
    width: 50%;
  }

  /* Changed Css Shadab 3 & 4 */
  .section3 {
    display: flex;
  }

  .content {
    width: 70%;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  }

  .imageBox img {
    position: absolute;
    top: 9%;
  }

  .imageBox img:hover {
    transform: scale(1.3);
    z-index: 3;
    margin-right: 128px;
  }

  /* Changed Css Anjali  */
  .sec5bgimage {
    z-index: -1;
    align-items: center;
    margin-top: 5px;
    width: 70%;
  }

  .bgimage {
    align-items: center;
    margin-top: 50px;
    width: 80%;
  }

  .sec5bgimage:hover {
    z-index: 5;
    transform: scale(1.1);
  }

  .section5 {
    font-size: 25px;
    margin-top: 300px;
    margin-bottom: 50px;
    background-size: 100% 90%;
    height: 400px;
  }

  .para1 {
    padding: 50px 80px 0px 80px;
    margin-bottom: 0px;
    font-size: 21px;
  }

  .boxbg1 {
    height: 400px;
    margin-left: 40px;
    margin-top: 300px;
  }

  .boxbg1:hover {
    transform: scale(1.1);
  }

  .boxbg2 {
    height: 400px;
    margin-left: 40px;
    margin-top: 300px;
    transition: 300ms ease-in-out;
  }

  .boxbg3 {
    height: 400px;
    margin-left: 40px;
    margin-top: 300px;
  }

  .sbox {
    height: 48px;
    width: 180px;
    margin-left: 150px;
    background-size: 50% 90%;
    top: 50%;
    left: 50%;
    transform: translate(0%, -30%);
    font-size: 26px;
  }

  .collabs {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px 180px 30px 180px;
  }

  .collabs h1 {
    font-size: 45px;
  }

  .collabs p {
    font-size: 21px;
    word-spacing: 5px;
  }

  .collabbutton {
    margin-top: 10px;
    padding: 13px 15px;
    font-size: 21px;
  }

  .sectionSeven {
    align-self: center;
  }

  .section7Col1 {
    padding: 0px 25px 0px 0px;
  }

  .section7Col2, .section7Col3 {
    padding: 0px 25px 0px 25px;
  }

  .section7Col4 {
    padding: 0px 0px 0px 25px;
  }
}

@media screen and (min-width: 1450px) and (max-width: 1589px) {

  /******Changes by Shadab************/
  .section3 {
    display: flex;
  }

  .content {
    width: 70%;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  }

  .imageBox img {
    position: absolute;
    top: 20%;
  }

  .imageBox img:hover {
    transform: scale(1.3);
    z-index: 3;
    margin-right: 128px;
  }

  /*Anjali CSS */
  .sec5bgimage {
    z-index: -1;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 70%;
  }

  .bgimage {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 80%;
  }

  .section5 {
    font-size: 25px;
    margin-top: 300px;
    background-size: 100% 90%;
    height: auto;
  }

  .para1 {
    padding: 50px 80px 50px 80px;
    margin-bottom: 0px;
  }

  .section6 {
    margin: 30px 30px 30px 30px;
  }

  .boxbg1 {
    height: 300px;
    margin-left: 60px;
    margin-top: 220px;
  }

  .boxbg2 {
    height: 300px;
    margin-left: 50px;
    margin-top: 220px;
  }

  .boxbg3 {
    height: 300px;
    margin-left: 40px;
    margin-top: 220px;
  }

  .sbox {
    height: 48px;
    width: 180px;
    margin-left: 150px;
    background-size: 50% 90%;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -20%);
    font-size: 26px;
  }

  .collabs {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px 180px 30px 180px;
  }

  .collabs h1 {
    font-size: 45px;
  }

  .collabs p {
    font-size: 21px;
    word-spacing: 5px;
  }

  .collabbutton {
    margin-top: 10px;
    padding: 13px 15px;
    font-size: 21px;
  }
}

/****Default****/
@media screen and (min-width: 1300px) and (max-width: 1449px) {

  /******Changes by Shadab************/
  .section3 {
    display: flex;
  }

  .content {
    width: 70%;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  }

  .imageBox img {
    position: absolute;
    top: 20%;
  }

  .imageBox img:hover {
    transform: scale(1.3);
    z-index: 3;
    margin-right: 128px;
  }

  /*Anjali CSS */
  .sec5bgimage {
    z-index: -1;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 70%;
  }

  .bgimage {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 80%;
  }

  .section5 {
    font-size: 25px;
    margin-top: 300px;
    background-size: 100% 90%;
    height: auto;
  }

  .para1 {
    padding: 50px 80px 50px 80px;
    margin-bottom: 0px;
  }

  .section6 {
    margin: 130px 30px 30px 30px;
  }

  .boxbg1 {
    height: 300px;
    margin-left: 60px;
    margin-top: 220px;
  }

  .boxbg2 {
    height: 300px;
    margin-left: 50px;
    margin-top: 220px;
  }

  .boxbg3 {
    height: 300px;
    margin-left: 40px;
    margin-top: 220px;
  }

  .sbox {
    height: 48px;
    width: 180px;
    margin-left: 150px;
    background-size: 50% 90%;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -20%);
    font-size: 26px;
  }

  .collabs {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px 180px 30px 180px;
  }

  .collabs h1 {
    font-size: 45px;
  }

  .collabs p {
    font-size: 21px;
    word-spacing: 5px;
  }

  .collabbutton {
    margin-top: 10px;
    padding: 13px 15px;
    font-size: 21px;
  }

  .contentWrap > h3 {
    font-size: 25px;
  }

  .contentWrap>h4 {
    font-size: 23px;
  }
}

@media screen and (min-width: 1450px) and (max-width: 1589px) {

  /*Anjali CSS */
  .boxbg1 {
    height: 300px;
    margin-left: 60px;
    margin-top: 200px;
  }

  .boxbg2 {
    height: 300px;
    margin-left: 50px;
    margin-top: 200px;
  }

  .boxbg3 {
    height: 300px;
    margin-left: 40px;
    margin-top: 200px;
  }

  .sbox {
    height: 48px;
    width: 180px;
    margin-left: 150px;
    background-size: 50% 90%;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -20%);
    font-size: 26px;
  }
}

@media screen and (min-width: 1260px) and (max-width: 1299px) {

  /* Changed Css Shataxi */
  .rowOneColOne>img {
    width: 600px;
    height: 300px;
    left: 3rem;
  }

  .rowOneColTwo>div {
    margin-left: 18rem;
    padding-top: 1rem;
  }

  .rowTwoDiv>h1 {
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 40px;
  }

  .rowTwoRowPara>p {
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 19px;
  }

  .rowNineCarouselDiv img {
    width: 50%;
  }

  /* Changed Css Shadab  */
  .section3 {
    display: flex;
  }

  .content {
    width: 70%;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  }

  .content p {
    font-size: 19px;
    margin-left: 3rem;
  }

  .imageBox img {
    position: absolute;
    margin-top: 8%;
  }

  .imageBox img:hover {
    transform: scale(1.3);
    z-index: 3;
    margin-right: 128px;
  }

  .whyStarted h1 {
    margin-left: 3rem;
    font-size: 40px;
  }

  .reasonForStart p {
    font-size: 19px;
    margin: 0 3rem;
  }

  /* Changed Css Anjali  */
  .sec5bgimage {
    z-index: -1;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 70%;
  }

  .bgimage {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 80%;
  }

  .section5 {
    font-size: 25px;
    margin-top: 300px;
    background-size: 100% 90%;
    height: auto;
  }

  .para1 {
    padding: 50px 60px 50px 60px;
    margin-bottom: 0px;
    font-size: 19px;
    word-spacing: 5px;
  }

  .boxbg1 {
    height: 300px;
    margin-left: 60px;
    margin-top: 320px;
  }

  .boxbg2 {
    height: 300px;
    margin-left: 50px;
    margin-top: 320px;
  }

  .boxbg3 {
    height: 300px;
    margin-left: 40px;
    margin-top: 320px;
  }

  .sbox {
    height: 48px;
    width: 180px;
    margin-left: 150px;
    background-size: 50% 90%;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -20%);
    font-size: 26px;
  }

  .collabs {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px 180px 30px 180px;
  }

  .collabs h1 {
    font-size: 40px;
  }

  .collabs p {
    font-size: 19px;
    word-spacing: 5px;
  }

  .collabbutton {
    margin-top: 10px;
    padding: 13px 15px;
    font-size: 19px;
  }

  .contentWrap>h3 {
    font-size: 25px;
  }

  .contentWrap>h4 {
    font-size: 23px;
  }
}

@media screen and (min-width: 1126px) and (max-width: 1259px) {

  /* Changed Css Shataxi */
  .rowOneColOne>img {
    width: 550px;
    height: 300px;
    left: 4rem;
  }

  .rowOneColTwo>div {
    margin-left: 18rem;
    padding-top: 1rem;
  }

  .rowTwoDiv>h1 {
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 38px;
  }

  .rowTwoRowPara>p {
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 18px;
  }

  .rowNineCarouselDiv img {
    width: 50%;
  }

  /* Changed Css Shadab  */
  .section3 {
    display: flex;
  }

  .content {
    width: 70%;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  }

  .content p {
    font-size: 18px;
    margin-left: 4rem;
  }

  .imageBox img {
    position: absolute;
    margin-top: 100px;
  }

  .imageBox img:hover {
    transform: scale(1.3);
    z-index: 3;
    margin-right: 128px;
  }

  .whyStarted h1 {
    margin-left: 4rem;
  }

  .reasonForStart p {
    font-size: 18px;
    margin: 0 4rem;
  }

  /* Changed Css Anjali  */
  .sec5bgimage {
    z-index: -1;
    margin-left: 10%;
    margin-top: 5px;
    width: 80%;
  }

  .bgimage {
    margin-left: 5.5%;
    margin-top: 50px;
    width: 90%;
  }

  .sec5bgimage:hover {
    z-index: 5;
    transform: scale(1.1);
  }

  .section5 {
    font-size: 25px;
    margin-top: 300px;
    background-size: 100% 100%;
    height: auto;
    width: 100%;
  }

  .para1 {
    padding: 50px 80px 50px 80px;
    margin-bottom: 0px;
    font-size: 18px;
    word-spacing: 5px;
  }

  .boxbg1 {
    height: 300px;
    margin-left: 50px;
    margin-top: 320px;
  }

  .boxbg2 {
    height: 300px;
    margin-left: 40px;
    margin-top: 320px;
  }

  .boxbg3 {
    height: 300px;
    margin-left: 40px;
    margin-top: 320px;
  }

  .sbox {
    height: 48px;
    width: 180px;
    margin-left: 150px;
    background-size: 50% 90%;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -20%);
    font-size: 26px;
  }

  /******Section 7 Shadab******/
  .image7 {
    width: 350px;
    height: 350px;
  }

  .contentWrap {
    height: 100px;
  }

  .contentWrap>h3 {
    font-size: 23px;
  }

  .contentWrap>h4 {
    font-size: 18px;
    font-weight: 350;
  }

  .sectionSevenb {
    max-width: 100%;
    padding: 30px 30px;
    margin: 0px 0px;
  }

  .cWrap>h2 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .cWrap>h4 {
    font-size: 20px;
    font-weight: 300;
  }

  .cWrap>p {
    font-size: 18px;
    font-weight: 250;
  }

  /*******Section 8 Anjali *****/
  .collabs {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px 180px 30px 180px;
    width: 100%;
  }

  .collabs h1 {
    font-size: 38px;
  }

  .collabs p {
    font-size: 18px;
    word-spacing: 5px;
  }

  .collabbutton {
    margin-top: 10px;
    padding: 13px 15px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1125px) {

  /* Changed Css Shataxi */
  .rowOneColOne>img {
    width: 500px;
    height: 300px;
    left: 8px;
    padding-left: 60px;
  }

  .rowOneColTwo>div {
    margin-left: 18rem;
    padding-top: 1rem;
  }

  .rowTwoDiv>h1 {
    padding-left: 60px;
    font-size: 38px;
  }

  .rowTwoRowPara>p {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 17px;
  }

  .rowNineCarouselDiv img {
    width: 50%;
  }

  /* Changed Css Shadab  */
  .section3 {
    display: flex;
  }

  .content {
    width: 70%;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  }

  .content p {
    font-size: 17px;
    line-height: 24px;
    margin: 40px 120px 40px 60px;
  }

  .imageBox img {
    position: absolute;
    margin-top: 80px;
  }

  .imageBox img:hover {
    transform: scale(1.3);
    z-index: 3;
    margin-right: 128px;
  }

  .whyStarted h1 {
    margin-left: 60px;
  }

  .reasonForStart p {
    font-size: 17px;
    margin: 0 60px;
  }

  .image7 {
    width: 320px;
    height: 320px;
  }

  .contentWrap {
    height: 100px;
  }

  .contentWrap>h3 {
    font-size: 23px;
  }

  .contentWrap>h4 {
    font-size: 18px;
    font-weight: 350;
  }

  .sectionSevenb {
    max-width: 100%;
    padding: 30px 30px;
    margin: 0px 0px;
  }

  .cWrap>h2 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .cWrap>h4 {
    font-size: 20px;
    font-weight: 300;
  }

  .cWrap>p {
    font-size: 17px;
    font-weight: 250;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1050px) {

  /* Changed Css Anjali  */
  .sec5bgimage {
    z-index: -1;
    margin-top: 5px;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-left: 14%;
  }

  .bgimage {
    margin-left: 5%;
    margin-top: 50px;
    width: 90%;
  }

  .sec5bgimage:hover {
    z-index: 5;
    transform: scale(1.1);
  }

  .section5 {
    font-size: 25px;
    margin-top: 300px;
    margin-bottom: 50px;
    height: auto;
    width: 101%;
    justify-content: center;
    align-items: center;
  }

  .para1 {
    padding: 50px 80px 50px 80px;
    margin-bottom: 0px;
    font-size: 17px;
  }

  .boxbg1 {
    margin-top: 450px;
    height: 250px;
    justify-content: none;
    align-items: left;
    margin-left: 24px;
  }

  .boxbg2 {
    height: 250px;
    justify-content: none;
    align-items: left;
    margin-top: 450px;
    margin-left: 23px;
  }

  .boxbg3 {
    height: 250px;
    justify-content: none;
    align-items: left;
    margin-left: 5px;
    margin-top: 450px;
  }

  .sbox {
    height: 43px;
    width: 100px;
    transform: translate(0%, -30%);
    font-size: 20px;
    align-items: center;
    margin-left: 100px;
  }

  /* Css for 7b */
  .image7 {
    width: 320px;
    height: 320px;
  }

  .contentWrap {
    height: 100px;
  }

  .contentWrap>h3 {
    font-size: 23px;
  }

  .contentWrap>h4 {
    font-size: 18px;
    font-weight: 350;
  }

  .sectionSevenb {
    max-width: 100%;
    padding: 30px 30px;
    margin: 0px 0px;
  }

  .cWrap>h2 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .cWrap>h4 {
    font-size: 20px;
    font-weight: 300;
  }

  .cWrap>p {
    font-size: 17px;
    font-weight: 250;
  }

  /* CSS for Section 8*/
  .collabs {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px 100px 30px 100px;
    width: 101%;
  }

  .collabs h1 {
    font-size: 38px;
  }

  .collabs p {
    font-size: 17px;
    word-spacing: 5px;
    text-align: left;
  }

  .collabbutton {
    margin-top: 10px;
    padding: 13px 15px;
    font-size: 17px;
  }
}

@media screen and (min-width: 1051px) and (max-width: 1125px) {

  /* Changed Css Anjali  */
  .sec5bgimage {
    z-index: -1;
    margin-top: 5px;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-left: 14%;
  }

  .bgimage {
    margin-left: 5%;
    margin-top: 50px;
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  .sec5bgimage:hover {
    z-index: 5;
    transform: scale(1.1);
  }

  .section5 {
    font-size: 25px;
    margin-top: 300px;
    margin-bottom: 50px;
    height: auto;
    width: 101%;
    justify-content: center;
    align-items: center;
  }

  .para1 {
    padding: 50px 80px 50px 80px;
    margin-bottom: 0px;
    font-size: 17px;
  }

  .boxbg1 {
    margin-top: 380px;
    height: 250px;
    justify-content: none;
    align-items: left;
    margin-left: 80px;
  }

  .boxbg2 {
    height: 250px;
    justify-content: none;
    align-items: left;
    margin-top: 380px;
    margin-left: 60px;
  }

  .boxbg3 {
    height: 250px;
    justify-content: none;
    align-items: left;
    margin-left: 40px;
    margin-top: 380px;
  }

  .sbox {
    height: 43px;
    width: 100px;
    transform: translate(0%, -30%);
    font-size: 20px;
    align-items: center;
    margin-left: 140px;
  }

  /* Section 7b */
  .image7 {
    width: 320px;
    height: 320px;
  }

  .contentWrap {
    height: 100px;
  }

  .contentWrap>h3 {
    font-size: 23px;
  }

  .contentWrap>h4 {
    font-size: 18px;
    font-weight: 350;
  }

  .sectionSevenb {
    max-width: 100%;
    padding: 30px 30px;
    margin: 0px 0px;
  }

  .cWrap>h2 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .cWrap>h4 {
    font-size: 20px;
    font-weight: 300;
  }

  .cWrap>p {
    font-size: 17px;
    font-weight: 250;
  }
  .collabs h1 {
    font-size: 38px;
  }

  .collabs p {
    font-size: 17px;
    word-spacing: 5px;
    text-align: left;
  }

  .collabbutton {
    margin-top: 10px;
    padding: 13px 15px;
    font-size: 17px;
  }
}

@media screen and (min-width: 769px) and (max-width: 999px) {

  /* Changed Css Shataxi */
  .rowOneColOne>img {
    width: 450px;
    height: 350px;
    left: 16px;
    padding-left: 50px;
  }

  .rowOneColTwo>div {
    margin-left: 18rem;
  }

  .rowTwoDiv>h1 {
    padding-left: 100px;
    font-size: 36px;
  }

  .rowTwoRowPara>p {
    /* padding-left: 1.5rem;
    padding-right:1rem; */
    padding: 0px 50px;
    font-size: 16px;
  }

  .rowNineCarouselDiv img {
    padding-left: 40px;
    padding-right: 40px;
    /* height: 60vh; */
  }

  /* Changed Css Shadab  */
  .section3 {
    display: flex;
  }

  .content {
    width: 70%;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  }

  .content p {
    font-size: 16px;
    line-height: 24px;
    margin: 40px 120px 40px 60px;
  }

  .imageBox img {
    position: absolute;
    margin-top: 80px;
  }

  .imageBox img:hover {
    transform: scale(1.3);
    z-index: 3;
    margin-right: 128px;
  }

  .imageBox img:hover {
    width: 75%;
  }

  .whyStarted h1 {
    margin-left: 100px;
    font-size: 36px;
  }

  .reasonForStart p {
    font-size: 16px;
    margin: 0 50px;
  }

  /* Changed Css Anjali  */
  .sec5bgimage {
    position: relative;
    margin-left: 15%;
    width: auto;
    margin-right: 30px;
    margin-top: 10px;
    width: 70%;
    justify-content: center;
    align-items: center;
  }

  .sec5bgimage:hover {
    transform: none;
  }

  .bgimage {
    position: relative;
    width: 80%;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 9%;
  }

  .section5 {
    margin-top: 250px;
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .para1 {
    font-size: 16px;
    padding: 20px 60px 20px 60px;
  }

  .section6 {
    padding-top: 50px;
  }

  .boxbg1 {
    margin-top: 300px;
    height: 200px;
    justify-content: none;
    align-items: left;
    margin-left: 40px;
  }

  .boxbg2 {
    height: 200px;
    justify-content: none;
    align-items: left;
    margin-top: 300px;
    margin-left: 25px;
  }

  .boxbg3 {
    height: 200px;
    justify-content: none;
    align-items: left;
    margin-left: -5px;
    margin-top: 300px;
  }

  .sbox {
    height: 34px;
    width: 80px;
    transform: translate(0%, -30%);
    font-size: 17px;
    align-items: center;
    margin-left: 80px;
  }
/* Css for 7b */
.row1Col1,
.row3Col1,
.row2Col2,
.row4Col2 {
  margin: 0px 0px;
  align-self: center;
}
.row1Col2,
.row3Col2,
.row2Col1,
.row4Col1 {
  margin: 10px 10px;
}
.image7 {
  width: 200px;
  height: 200px;
}

  .contentWrap {
    height: 100px;
  }

  .contentWrap>h3 {
    font-size: 23px;
  }

  .contentWrap>h4 {
    font-size: 18px;
    font-weight: 350;
  }

  .sectionSevenb {
    max-width: 100%;
    padding: 30px 30px;
    margin: 0px 0px;
  }

  .cWrap>h2 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .cWrap>h4 {
    font-size: 20px;
    font-weight: 300;
  }

  .cWrap>p {
    font-size: 16px;
    font-weight: 250;
  }

  /* Css for 9 */
  .collabs {
    padding: 10px 40px 10px 30px;
    width: 100%;
  }

  .collabs h1 {
    font-size: 36px;
  }

  .collabs p {
    font-size: 16px;
    text-align: justify;
    margin-left: 20px;
  }
}

@media screen and (min-width: 870px) and (max-width: 999px) {
  .section6 {
    padding-top: 80px;
  }

  .boxbg1 {
    margin-top: 250px;
    margin-left: 50px;
  }

  .boxbg2 {
    margin-top: 250px;
  }

  .boxbg3 {
    margin-top: 250px;
  }
  .image7 {
    width: 250px;
    height: 250px;
  }
}

/****Shataxi***/
@media screen and (width: 768px) {
  .rowOneColOne>img {
    width: 450px;
    height: 350px;
    left: 16px;
    padding-left: 30px;
    margin-left: 0px;
  }

  .rowOneColTwo>div {
    margin-left: 18rem;
  }

  .rowTwoDiv>h1 {
    padding-left: 90px;
    font-size: 36px;
  }

  .rowTwoRowPara>p {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
  }

  .rowNineCarouselDiv img {
    padding-left: 36px;
    padding-right: 36px;
  }

  /* Changed Css Shadab  */
  .section3 {
    display: flex;
    flex-direction: column;
  }

  .content p {
    font-size: 16px;
    line-height: 24px;
    margin: 40px 30px 40px 30px;
  }

  .imageBox img {
    /* position: absolute; */
    padding-top: 10px;
    width: 768px;
  }

  .whyStarted h1 {
    margin-left: 80px;
    font-size: 36px;
  }

  .reasonForStart p {
    font-size: 16px;
    margin: 0 30px;
  }

  /* Changed Css Anjali  */
  .sec5bgimage {
    position: relative;
    margin-top: 10px;
    z-index: 1;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 11%;
  }

  .sec5bgimage:hover {
    transform: none;
  }

  .bgimage {
    position: relative;
    width: 80%;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
  }

  .section5 {
    margin-top: 290px;
    width: 103%;
    height: auto;
    margin-right: 0;
  }

  .para1 {
    font-size: 16px;
    padding: 10px 40px 10px 40px;
  }

  .boxbg1 {
    margin-top: 370px;
    height: 200px;
    justify-content: none;
    align-items: left;
    margin-left: 40px;
  }

  .boxbg2 {
    height: 200px;
    justify-content: none;
    align-items: left;
    margin-top: 370px;
    margin-left: 30px;
  }

  .boxbg3 {
    height: 200px;
    justify-content: none;
    align-items: left;
    margin-top: 370px;
    margin-left: 20px;
  }

  .sbox {
    height: 31px;
    width: 79px;
    transform: translate(60%, -30%);
    font-size: 16px;
    align-items: center;
    margin-left: 50px;
  }

  /* Css for 7b */
  .row1Col1 {
    display: none;
  }

  .image7 {
    display: none;
  }

  .row2Col2 {
    display: none;
  }

  .row3Col1 {
    display: none;
  }

  .row4Col2 {
    display: none;
  }

  .contentWrap {
    height: 100px;
  }

  .contentWrap>h3 {
    font-size: 23px;
  }

  .contentWrap>h4 {
    font-size: 18px;
    font-weight: 350;
  }

  .sectionSevenb {
    max-width: 100%;
    padding: 30px 30px;
    margin: 0px 0px;
  }

  .cWrap>h2 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .cWrap>h4 {
    font-size: 18px;
    font-weight: 350;
  }

  .cWrap>p {
    font-size: 16px;
    font-weight: 250;
  }

  /* Css for 8 */
  .collabs {
    padding: 10px 40px 10px 30px;
    width: 103%;
  }

  .collabs h1 {
    font-size: 36px;
  }

  .collabs p {
    font-size: 16px;
    text-align: justify;
  }

  .collabbutton{
    font-size: 16px;
  }
}

/* Mobile screen can begin from here */
@media screen and (min-width: 576px) and (max-width: 767px) {

  /* Changed Css Shataxi */
  .section1, .section2 {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0px 0px;
  }

  .rowTwoRowPara {
    background-color: cornsilk;
  }

  .rowOneColOne>img {
    width: 100%;
    height: 100%;
    left: 0px;
  }

  .rowOneColTwo>div {
    margin-left: 0rem;
    max-width: 100%;
  }

  .rowTwoDiv>h1 {
    padding-left: 50px;
    padding-right: 10px;
    font-size: 34px;
  }

  .rowTwoRowPara>p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
  }

  .rowNineCarouselDiv img {
    padding: 15px 15px;
  }

  /* Changed Css Shadab  */
  .section3 {
    display: flex;
    flex-direction: column;
  }

  .content {
    margin: 0 2rem;
  }

  .content>p {
    font-size: 14px;
    line-height: 24px;
    margin: 30px;
  }

  .imageBox {
    margin: 0 2rem;
  }

  .imageBox img {
    width: 100%;
  }

  .whyStarted {
    margin: 0 2rem;
  }

  .whyStarted h1 {
    margin-top: 50px;
    margin-left: 60px;
    font-size: 34px;
  }

  .reasonForStart {
    margin-top: 10px;
  }

  .reasonForStart p {
    margin: 0 2rem;
    padding: 20px;
    background-color: rgb(200, 234, 245);
    font-size: 14px;
  }

  /* Changed Css Anjali  */
  .sec5bgimage {
    position: relative;
    margin-left: 10px;
    width: auto;
    margin-right: 20px;
    margin-top: 10px;
    z-index: 1;
    width: 97%;
  }

  .sec5bgimage:hover {
    transform: none;
  }

  .bgimage {
    position: relative;
    width: 89.7%;
    margin-left: 32px;
    margin-right: 20px;
    margin-top: 40px;
  }

  .section5 {
    margin-top: 250px;
    width: auto;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
  }

  .para1 {
    font-size: 14px;
    padding: 30px 30px;
  }

  .boxbg1 {
    margin-top: 410px;
    height: 140px;
    justify-content: none;
    align-items: left;
    margin-left: 40px;
  }

  .boxbg2 {
    height: 140px;
    justify-content: none;
    align-items: left;
    margin-top: 410px;
    margin-left: 15px;
  }

  .boxbg3 {
    height: 140px;
    justify-content: none;
    align-items: left;
    margin-left: -5px;
    margin-top: 410px;
  }

  .sbox {
    height: 24px;
    width: 70px;
    transform: translate(0%, -30%);
    font-size: 13px;
    align-items: center;
    margin-left: 50px;
  }

  /*CSS changes section 7*/
  .sectionSeven {
    display: none;
  }

  .sectionSevenc {
    display: flex;
    max-width: 100%;
    padding: 30px 45px 30px 30px;
    margin: 2rem 2rem;
  }

  .sectionSevencRow1 {
    background-image: url("./AboutUsImages/backRed.png");
    background-attachment: inherit;
  }

  .sectionSevencRow2 {
    background-image: url("./AboutUsImages/backYellow.png");
    background-attachment: inherit;
  }

  .sectionSevencRow3 {
    background-image: url("./AboutUsImages/backGreen.png");
    background-attachment: inherit;
  }

  .sectionSevencRow4 {
    background-image: url("./AboutUsImages/backBlue.png");
    background-attachment: inherit;
  }

  .innercRow {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: white;
    padding: 20px 20px;
    margin: 8px 8px;
  }

  .row1Col2c,
  .row2Col2c,
  .row3Col2c,
  .row4Col2c {
    padding-top: 10px;
  }

  .row1Col1c,
  .row2Col1c,
  .row3Col1c,
  .row4Col1c {
    width: fit-content;
    height: fit-content;
    align-self: center;
  }

  .row1Col2c>.cWrapc,
  .row2Col2c>.cWrapc,
  .row3Col2c>.cWrapc,
  .row4Col2c>.cWrapc {
    width: fit-content;
    height: fit-content;
  }

  .image7c {
    width: 200px;
    height: 200px;
  }

  .cWrapc {
    width: auto;
    height: auto;
  }

  .cWrapc>h2 {
    font-size: 24px;
    font-weight: 450;
    text-transform: uppercase;
  }

  .cWrapc>h4 {
    font-size: 18px;
    font-weight: 300;
  }

  .cWrapc>p {
    font-size: 14px;
    font-weight: 250;
    word-spacing: 5px;
    text-align: justify;
    padding-top: 10px;
    margin-bottom: 0px;
  }

  .wrap1c {
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./AboutUsImages/backRed.png");
    background-attachment: inherit;
    text-align: start;
  }

  .wrap2c {
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./AboutUsImages/backYellow.png");
    background-attachment: inherit;
    text-align: start;
  }

  .wrap3c {
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./AboutUsImages/backGreen.png");
    background-attachment: inherit;
    text-align: start;
  }

  .wrap4c {
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./AboutUsImages/backBlue.png");
    background-attachment: inherit;
    text-align: start;
  }

  /*CSS changes section 8*/
  .collabs {
    padding: 50px 40px 50px 30px;
    margin: 0 2rem;
  }

  .collabs h1 {
    font-size: 34px;
  }

  .collabs p {
    font-size: 14px;
    text-align: justify;
    margin-left: 20px;
  }

  .collabbutton {
    font-size: 14px;
  }

  .rowNineCarouselWrapper {
    margin: 0rem 2rem;
  }
}

@media screen and (min-width: 640px) and (max-width: 700px) {
  .boxbg1 {
    margin-top: 340px;
  }

  .boxbg2 {
    margin-top: 340px;
  }

  .boxbg3 {
    margin-top: 340px;
  }
  .collabs{
    padding-top: 50px;
  }
}

@media screen and (min-width: 700px) and (max-width: 767px) {
  .section5 {
    margin-top: 250px;
  }

  .sec5bgimage {
    z-index: -1;
    margin-left: 10px;
  }

  .boxbg1 {
    margin-top: 280px;
  }

  .boxbg2 {
    margin-top: 280px;
  }

  .boxbg3 {
    margin-top: 280px;
  }
}

@media screen and (max-width: 575px) {

  /* Changed Css Shataxi */
  .section1, .section2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .rowOneColOne>img {
    width: 100%;
    height: 100%;
    left: 0px;
  }

  .rowOneColTwo>div {
    margin-left: 0rem;
    padding-top: 0;
  }

  .rowTwoDiv>h1 {
    padding-left: 35px;
    padding-top: 20px;
    font-size: 34px;
  }

  .rowTwoRowPara {
    background-color: cornsilk;
    word-spacing: 0;
  }

  .rowTwoRowPara>p {
    padding: 8px 8px;
    font-size: 14px;
  }

  .rowNineCarouselWrapper {
    margin: 0 2rem;
  }

  .rowNineCarouselDiv img {
    padding: 12px;
  }

  /* Changed Css Shadab  */
  .section3 {
    display: flex;
    flex-direction: column;
  }

  .content {
    margin: 0 2rem;
  }

  .content p {
    font-size: 14px;
    line-height: 24px;
    margin: 20px 20px;
  }

  .imageBox {
    margin: 0 2rem;
  }

  .imageBox img {
    width: 100%;
  }

  .whyStarted {
    margin: 0 2rem;
  }

  .whyStarted h1 {
    margin-top: 50px;
    margin-left: 45px;
    font-size: 34px;
  }

  .reasonForStart {
    margin-top: 10px;
  }

  .reasonForStart p {
    margin: 0 2rem;
    padding: 20px;
    background-color: rgb(200, 234, 245);
    font-size: 14px;
  }

  /* Changed Css Anjali  */
  .sec5bgimage {
    position: relative;
    margin-top: 10px;
    z-index: -1;
    width: 90%;
    margin-right: 2rem;
    margin-left: 1.5rem;
    justify-content: center;
  }

  .sec5bgimage:hover {
    transform: none;
  }

  .section5 {
    margin-top: 180px;
    width: auto;
    height: auto;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .para1 {
    font-size: 14px;
    text-align: justify;
    padding: 20px 20px;
  }

  .boxbg1 {
    margin-top: 380px;
    height: 280px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 25%;
  }

  .boxbg2 {
    height: 280px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 25%;
    margin-top: 10px;
  }

  .boxbg3 {
    height: 280px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 25%;
    margin-top: 10px;
  }

  .sbox {
    height: 35px;
    width: 120px;
    transform: translate(55%, -30%);
    font-size: 20px;
    align-items: center;
  }

  .bgimage {
    position: relative;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 20px;
    z-index: 1;
    width: 87%;
  }

  /* Css for 7a */
  .sectionSeven {
    display: none;
  }

  .sectionSevenc {
    display: flex;
    max-width: 100%;
    padding: 30px 45px 30px 30px;
    margin: 2rem 2rem;
  }

  .sectionSevencRow1 {
    background-image: url("./AboutUsImages/backRed.png");
    background-attachment: inherit;
  }

  .sectionSevencRow2 {
    background-image: url("./AboutUsImages/backYellow.png");
    background-attachment: inherit;
  }

  .sectionSevencRow3 {
    background-image: url("./AboutUsImages/backGreen.png");
    background-attachment: inherit;
  }

  .sectionSevencRow4 {
    background-image: url("./AboutUsImages/backBlue.png");
    background-attachment: inherit;
  }

  .innercRow {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: white;
    padding: 20px 20px;
    margin: 8px 8px;
  }

  .row1Col2c,
  .row2Col2c,
  .row3Col2c,
  .row4Col2c {
    padding-top: 10px;
  }

  .row1Col1c,
  .row2Col1c,
  .row3Col1c,
  .row4Col1c {
    width: fit-content;
    height: fit-content;
    align-self: center;
  }

  .row1Col2c>.cWrapc,
  .row2Col2c>.cWrapc,
  .row3Col2c>.cWrapc,
  .row4Col2c>.cWrapc {
    width: fit-content;
    height: fit-content;
  }

  .image7c {
    width: 200px;
    height: 200px;
  }

  .cWrapc {
    width: auto;
    height: auto;
  }

  .cWrapc>h2 {
    font-size: 24px;
    font-weight: 450;
    text-transform: uppercase;
  }

  .cWrapc>h4 {
    font-size: 18px;
    font-weight: 300;
  }

  .cWrapc>p {
    font-size: 14px;
    font-weight: 250;
    word-spacing: 5px;
    text-align: justify;
    padding-top: 10px;
    margin-bottom: 0px;
  }

  .wrap1c {
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./AboutUsImages/backRed.png");
    background-attachment: inherit;
    text-align: start;
  }

  .wrap2c {
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./AboutUsImages/backYellow.png");
    background-attachment: inherit;
    text-align: start;
  }

  .wrap3c {
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./AboutUsImages/backGreen.png");
    background-attachment: inherit;
    text-align: start;
  }

  .wrap4c {
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./AboutUsImages/backBlue.png");
    background-attachment: inherit;
    text-align: start;
  }

  /* Css for 8 */
  .collabs {
    padding: 50px 20px 50px 20px;
    margin-right: 2rem;
    margin-left: 2rem;
    flex-direction: column;
  }

  .collabs h1 {
    font-size: 34px;
    font-weight: bolder;
  }

  .collabs p {
    font-size: 14px;
    word-spacing: 2px;
    text-align: justify;
  }

  .collabbutton {
    margin-top: 2px;
    padding: 10px 12px;
    font-size: 14px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 444px) {

  /* Changed Css Shataxi */
  .rowOneColOne img {
    height: 100%;
  }

  .rowOneColTwo>div {
    padding-top: 2rem;
  }

  .rowTwoRowPara>h1 {
    font-size: 32px;
  }

  .rowTwoRowPara>p {
    text-align: justify;
    font-size: 13px;
  }

  .rowNineCarouselDiv img {
    padding: 8px 8px;
    /* height: 40vh; */
  }

  .whyStarted h1 {
    margin-top: 30px;
    margin-left: 35px;
    font-size: 32px;
  }

  .reasonForStart {
    margin-top: 8px;
  }

  .reasonForStart p {
    font-size: 13px;
  }

  .boxbg1 {
    margin-top: 620px;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 23%;
  }

  .boxbg2 {
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 23%;
    margin-top: 8px;
  }

  .boxbg3 {
    height: 200px;
    margin-right: 20px;
    margin-left: 23%;
    margin-top: 8px;
  }

  .sbox {
    height: 30px;
    width: 80px;
    transform: translate(-10%, -30%);
    font-size: 16px;
    align-items: center;
  }

  .section5 {
    margin-top: 180px;
  }

  .sec5bgimage {
    z-index: -1;
  }

  .bgimage {
    position: relative;
    margin-left: 1rem;
    margin-right: 2rem;
    margin-top: 20px;
    z-index: 1;
    width: 87%;
  }

  /* Css for 7a */
  .sectionSeven {
    display: none;
  }

  /* Css for 8 */
  .section8{
    margin: 0 2rem;
  }
  .bgimage{
    width: 100%;
    margin-left: 0px;
    padding: 0px 0px;
  }
  .collabs {
    padding: 50px 20px 50px 20px;
    margin-right: 2rem;
    margin-left: 2rem;
    flex-direction: column;
  }


  .collabs p {
    font-size: 13px;
    word-spacing: 2px;
    text-align: justify;
  }

  .collabbutton {
    margin-top: 2px;
    padding: 10px 12px;
    font-size: 13px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width:360px) {
  .section1, .section2 {
    margin: 0 1rem;
  }

  .rowOneColOne img {
    height: 100%;
  }

  .rowOneColTwo>div {
    padding-top: 1rem;
  }

  .rowTwoRowPara>h1 {
    text-align: justify;
    font-size: 28px;
  }

  .rowTwoRowPara>p {
    text-align: justify;
    font-size: 12px;
  }

  .rowNineCarouselWrapper {
    margin: 0 1rem;
  }

  .rowNineCarouselDiv img {
    padding: 6px;
  }

  .whyStarted {
    margin: 0 1rem;
  }

  .whyStarted h1 {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 28px;
  }

  .reasonForStart {
    margin-top: 8px;
  }

  .reasonForStart p {
    margin: 0 1rem;
    font-size: 12px;
  }

  .imageBox {
    margin: 0 1rem;
  }

  .content {
    margin: 0 1rem;
  }

  .content p {
    font-size: 12px;
  }

  /*****Changes by Anjali *****/
  .section5 {
    margin: 0 1rem;
  }

  .sec5bgimage {
    width: 95%;
    margin-left: 0.5rem;
    margin-right: 1rem;
  }

  .para1 {
    font-size: 12px;
    text-align: justify;
  }

  .boxbg1 {
    margin-top: 560px;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 17%;
  }

  .boxbg2 {
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 17%;
    margin-top: 8px;
  }

  .boxbg3 {
    height: 200px;
    margin-right: 20px;
    margin-left: 17%;
    margin-top: 8px;
  }

  .section5 {
    margin-top: 140px;
  }

  .sbox {
    height: 30px;
    width: 90px;
    transform: translate(-40%, -30%);
    font-size: 14px;
    align-items: center;
  }

  .section8{
    margin: 0 1rem;
  }
  .bgimage{
    width: 100%;
    margin-left: 0px;
    padding: 0px 0px;
  }

  /* .bgimage {
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    width: 92%;
  } */

  /* Css for 7a */
  .sectionSeven {
    display: none;
  }

  .sectionSevenc {
    display: flex;
    max-width: 100%;
    padding: 20px 35px 20px 20px;
    margin: 1rem 1rem;
  }

  .image7c {
    margin-left: auto;
    margin-right: auto;
  }

  /* Css for 8 */
  .collabs {
    margin: 0 1rem;
  }

  .collabs h1 {
    font-size: 28px;
  }

  .collabs p {
    font-size: 12px;
  }

  .collabbutton {
    font-size: 12px;
  }
}