.holder{
    background-image: url('https://drive.google.com/uc?id=1lVfrjckw4HX2dOJi0eS2futm667_lANr');
}

.content{
    padding: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;

    padding-left: 10%;
    padding-right: 10%;

    margin-bottom: 100px;

    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-image: url('https://drive.google.com/uc?id=128DySXhU5Wa65ci2fbtKjZ0TO-gwYrFb');
}

.heading{
    font-size: max(3.5vw,45px);
    font-weight: bold;
    color: rgb(70, 70, 70);
}

.para1{
    width: 70%;
}

.para2{
    width: 50%;
}

.para1, .para2{
    font-size: max(1.65vw,20px);
    font-style: normal;
}

@media screen and (max-width: 1300px) {
    .content{
        background-image: none;
    }

    .heading{
        font-size: 45px;
        text-align: center;
    }

    .para1, .para2{
        width: 100%;
        text-align: justify;
        text-justify: distribute;
    }
}